<h3>Elsewhere</h3>
<ul class="nav nav-pills nav-stacked">
    <li><a href="//github.com/geekish">Github</a></li>
    <li><a href="//last.fm/user/r4dical">Last.fm</a></li>
    <li><a href="//twitter.com/hannahwarmbier">Twitter</a></li>
</ul>
