<h3>Navigate</h3>
<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ site.url }}/archive">Archive</a></li>
    <li><a href="{{ site.url }}/colophon">Colophon</a></li>
    <li><a href="{{ site.url }}/atom.xml">RSS Feed</a></li>
</ul>
