<h3>About the Geek</h3>
<p>I am a 24 year old Apple slave, PHP geek, consumer of macaroni and cheese and wine, and collector of everything Stormtrooper and TARDIS. This is the place where I write about everything geekish.</p>
