{% extends "master.twig" %}
{% block master_content %}
    <div class="container content">
        <div class="row">
            {% include "header.twig" %}
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-main">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
            <div class="col-sm-4 col-md-4 col-sidebar">
                {% include "sidebar.twig" %}
            </div>
        </div>
        <div class="row">
            {% include "footer.twig" %}
        </div>
    </div>
{% endblock %}
