<footer class="footer">
    <p>
        &copy; 2015 to <a href="//hannahwarmbier.com">Hannah Warmbier</a>.
        Powered by <a href="//sculpin.io">Sculpin</a>.
        <a href="//github.com/geekish/geekish.github.io" title="View Source on Github"><i class="fa fa-github-alt"></i></a>
    </p>
</footer>
