<div class="well well-about">
    {% include "widget_about.twig" %}
</div>
<div class="well well-nav clearfix">
    <div class="col-sm-12 col-md-6 col-nav">
        {% include "widget_nav.twig" %}
    </div>
    <div class="col-sm-12 col-md-6 col-nav">
        {% include "widget_social.twig" %}
    </div>
</div>
