<div class="col-sm-12 col-md-5 col-nav">
    {% include "widget_about.twig" %}
</div>
<div class="col-sm-12 col-md-2 col-md-offset-1 col-nav">
    {% include "widget_nav.twig" %}
</div>
<div class="col-sm-12 col-md-2 col-md-offset-1 col-nav">
    {% include "widget_social.twig" %}
</div>
