---
layout: page
title: Categories
use:
    - posts_categories
---
<div>
{% for category,posts in data.posts_categories %}
<a href="{{ site.url }}/category/{{ category|url_encode(true) }}">{{ category }}</a>
{% endfor %}
</div>
